<!-- views/Partials/header.ejs-->
<div class="container">
    <h1>Test header</h1>
</div>
<nav class="navbar">
    <div class="container">
        <a href='/dashboard'>Home</a>
        <a href='/about_us'>About us</a>
        <a href='edit_personal_details'>Profile</a>
        <a href=''>Services</a>
        <a href=''>Contact</a>
    </div>   
</nav>