<!DOCTYPE html>
<html>
	<head>
		<title>Company Name</title>
		<link rel='stylesheet', href='public/styling/style.css'>
	</head>
	<body>
		<h1 class='only-header'> Sign in </h1>
		<br>
		<a href="/login"> Login</a>
		<br><br><br>
		<a href="/register"> Register</a>
	</body>
	<footer></footer>
</html>