<!DOCTYPE html>
<html>
	<head>
		<title>Company Name</title>
		<link rel='stylesheet', href='public/styling/style.css'>
	</head>
	<body>
		<h1 class='only-header'> Sign in </h1>
		<br>
		<div>
			<button onclick="window.location.href = '/login';" class='progress-btn'> Login</button>
		</div>
		<div>
			<button onclick="window.location.href = '/register';" class='secondary-btn'> Register</button>
		</div>
	</body>
	<footer></footer>
</html>