$black : #0b0c0c;
$nice-blue: #1d70b8;
$purple : #4c2c92;
$yellow : 	#ffdd00;
$red : #d4351c;
$white : #ffffff;
$pink : #d53880;
$green : #00703c;
$light-grey: #f3f2f1;
$mid-grey: #b1b4b6;
$dark-grey: #626a6e;

$standard : Arial, Helvetica, sans-serif;